* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }

.left_logo {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 25%;
  }

.center_search {
    background-color: dodgerblue;
    padding: 10px;
    flex: 25%;
  }

.center_location {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 25%;
  }

.right_login {
    background-color: dodgerblue;
    padding: 10px;
    flex: 25%;
  }

